// ===== ABOUT =====

.headshot2-container {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    #headshot2 {
      height: 100%;
      width: 100%;
      background: url(../images/headshot2.jpg) 60% 5%;
      background-size: cover;
      background-size: 100%;
    }
  }
  
  .about {
    width: 90%;
    margin: 0 auto;
    @include respond-to(medium-screens){
      margin: 0 20px;
      width: 60%;
    }
  }