// ===== HERO =====

.hero {
    max-width: 1024px;
    width: 80%; 
    margin: 20% auto;
    h1 {
      font-weight: 300;
      font-size: 33px;
      margin: 0;
    }
    ul { 
      margin: 0;
    }
    .music-word {
      font-size: 25px;
      display: flex;
      .iAm {
        width: 78px;
      }
      .word {
        width: 50px;
      }
      .musician-word {
        display: none;
      }
      .developer-word {
        display: none;
      }
      .none{
        display: none
      }
      @include respond-to(medium-screens) {
        font-size: 30px; 
        .iAm {
          right: 70px;
          width: 95px;
        }
        .word {
          right: 40px;
        }
      }
    }
    p {
      display: block;
      width: 100%;
      margin-top: 2%;
      font-size: 1.6rem;
    }
    
    a {
      text-decoration: none;
      text-align: center;
      display: block;
      margin-top: 5%;
      width: 40%;
      padding: 10px;
      border-radius: 5px;
      background-color: $accent-color;
      color: #fff;
      font-size: 1.2rem;
      letter-spacing: 0.5px;
      max-width: 150px;
    }
  }
  @include respond-to(medium-screens){
    .hero {
      margin: 10% auto;
      h1 {
        font-size: 4rem;
      }
      p{
        width: 50%;
        font-size: 2rem;
        margin-top: 1%;
      }
      a {
        width: 25%;
        font-size: 1.7rem;
        letter-spacing: 1px;
        padding: 1.4%;
        border-radius: 5px;
      }
    }
  }